:root {
  --primary-color: rgb(248, 209, 171);
  --secondary-color: rgb(68, 58, 58);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  background: rgb(248, 209, 171);
}

h1,
h2,
p {
  font-family: "Poiret One", cursive;
}

h1 {
  color: rgb(68, 58, 58);
  font-weight: bold;
  font-size: 72px;
  margin-top: 70px;
}

h2 {
  color: rgb(68, 58, 58);
  font-weight: bold;
  font-size: 72px;
  margin-top: 70px;
  padding-left: 80px;
}

p {
  color: rgb(68, 58, 58);
  font-weight: normal;
}

.navbar-container {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

.general-info {
  background: rgb(248, 209, 171);
  text-align: center;
}

.social-media {
  padding-left: 80px;
}
.contact-btn {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-family: "Poiret One", cursive;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.navigation-links {
  display: flex;
  justify-content: center;
}
.navigation-links:hover {
  cursor: pointer;
}
