:root {
  --primary-color: rgb(248, 209, 171);
  --secondary-color: rgb(68, 58, 58);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --heading-font-family: "Poiret One", cursive;
  --default-font-family: "Poiret One", cursive;
}

body {
  background: rgb(248, 209, 171);
  font-family: var(--default-font-family);
}

h1,
h2,
p {
  font-family: "Poiret One", cursive;
}

h1 {
  color: rgb(68, 58, 58);
  font-weight: bold;
  font-size: 72px;
  margin-top: 70px;
}

h2 {
  color: rgb(68, 58, 58);
  font-weight: bold;
  font-size: 72px;
  margin-top: 70px;
  padding-left: 80px;
}

p {
  color: rgb(68, 58, 58);
  font-weight: normal;
  font-size: 30px;
}

.navbar-container {
  font-weight: bold;
}

.general-info {
  background: rgb(248, 209, 171);
  text-align: center;
  padding: 160px 20px;
}

.social-media {
  padding-left: 80px;
}
.contact-btn {
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  line-height: 27px;
  padding: 12px 20px;
  font-size: 20px;
  background: rgb(252, 230, 206);
  font-weight: bold;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links:hover {
  cursor: pointer;
}

.footer {
  font-size: 15px;
}
